html{
	font-family: sans-serif;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	cursor: pointer;
}
#left{
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: #f2f3f7;
	top: 0;
	left: 0;
}
.profile_pic>img{
	width: 150px;
	height: 150px;
	margin-top: 10%;
	margin-left: 20%;
	display: block;
}
.profile_title1{
	margin-left: 20%;
	font-size: 20px;	
}
.profile_title1>a{
	color: black;
	font-weight: bold;
}
.profile_title2{
	margin-left: 35%;
	font-size: 14px;
}
#profile_txt{
	position: relative;
	top: 30px;
}
#info>ul{
	list-style: none;
	position: relative;
	line-height: 70px;
	top: 50px;
	font-size: 18px;
}
#info>ul>li{
	padding-left: 20%;
}
#info>ul>li>a{
	color: #404040;
}
#info>ul>li:hover{
	color: black;
	font-weight: bold;
	  text-shadow: 2px 5px 5px 2px red;
}
.right {
  position: absolute;
  left: 20%;
  top: 0;
}
.right>#slider{
	position: absolute;
	width: 849px;
	height: 630px;
	background: url(Images/cover1.jpg);
	background-repeat: no-repeat;
	animation: slide 15s infinite; 
	margin-left: 120px;
	margin-top: 10%;
}
@keyframes slide{
	25%{
			background: url(Images/cover2.jpg);
			background-repeat: no-repeat;
	}
	50%{
			background: url(Images/cover3.jpg);
			background-repeat: no-repeat;
	}
	75%{
		background: url(Images/cover4.jpg);
		background-repeat: no-repeat;
	}
	100%{
		background: url(Images/cover1.jpg);
		background-repeat: no-repeat;
	}
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /*left: 0%;*/
  background-color: silver;
  width: 100%;
  /*height: 500px;*/
  text-align: center;
}

.right:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  	height: 399px;
  width: 1080px;
  opacity: 0.7;
  color: white;
  font-size: 65px;
  padding-top: 250px;
}
#aboutme{
	position: absolute;
	top: 740px;
	left: 300px;
}
.about_me{
	color: #696969;
	font-size: 45px;
	font-weight: bold;
	position: relative;
	left: 400px;
	top: 30px;
}
#bio,#edu,#exp,#con{
	  box-shadow: 2px 2px 10px 3px #888888;

}
#bio{
	border: 1px solid silver;
	position: relative;
	left: 120px;
	top: 30px;
	width:800px;
	height: 580px;
	background-color: #f2f3f7;
	font-size: 25px;	

}
#attribute{
	width: 250px;
	height: auto;
	float: left;
	padding-left: 60px;
	padding-top: 50px;
}
#value{
	width: 700px;
	height: auto;
	padding-left: 60px;
	padding-top: 50px;
}
#attribute>span,#value>span{
	display: block;
	margin-bottom: 30px;
}
#education{
	position: absolute;
	top: 1440px;
	left: 300px;
}
.edu_header{
	color: #696969;
	font-size: 45px;
	font-weight: bold;
	position: relative;
	left: 400px;
	top: 30px;
}
#edu{
	border: 1px solid silver;
	position: relative;
	left: 120px;
	top: 30px;
	width:800px;
	height: 440px;
	background-color: #f2f3f7;
	font-size: 25px;	
}
#experience{
	position: absolute;
	top: 1990px;
	left: 300px;
}
.exp_header{
	color: #696969;
	font-size: 45px;
	font-weight: bold;
	position: relative;
	left: 400px;
	top: 30px;
}
#exp{
	border: 1px solid silver;
	position: relative;
	left: 120px;
	top: 30px;
	width:800px;
	height: 350px;
	background-color: #f2f3f7;
	font-size: 25px;	
}
#contact{
	position: absolute;
	top: 2440px;
	left: 300px;
}
.con_header{
	color: #696969;
	font-size: 45px;
	font-weight: bold;
	position: relative;
	left: 400px;
	top: 30px;
}
#con{
	border: 1px solid silver;
	position: relative;
	left: 120px;
	top: 30px;
	width:800px;
	height: 380px;
	background-color: #f2f3f7;
	font-size: 25px;	
}